/* ------------------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none; /*chrome fix to remove blue focus highlights*/
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px; /* global like all elements within html*/
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}  

/* ------------------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------ */

.row {
    max-width: 1140px;
/*    margin: 0 auto 0 auto; == top righ bottom left */
    margin: 0 auto; /* top+bottom left+right */
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* HEADINGS */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: orange;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;

}

/* PARAGRAPHS */

.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* GENERIC LINKS*/

a:active,
a:visited {
    color: orange;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: solid 1px orange;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ICONS */
.icon-big {
    display: block;
    font-size: 350%;
    color: orange;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align texts and icons*/
    line-height: 120%; /*this will make sure that the icon is as tall as the font*/
    vertical-align: middle;
    margin-top: -5px;
}

/* BUTTONS */ 
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s /* creates transition of button background  by .3 seconds and others */
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;    
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #bf6516;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #bf6516;
    color: #fff;    
}


/* ------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh; /* view height 100% of the screen height*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    /* hide it for now */
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main Navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    transition: border-bottom 0.3s;
    padding: 8px 0;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none; /*removes underline from link <a>*/
    text-transform: uppercase;
    font-size: 90%; /*90% of the base pixel defined in html. so we want 18px which is 90% of 20px*/
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Sticky Navi*/

.sticky {
    /* the element statys at the same point irrespective of scrolling */
    position: fixed;
    /* then define where it will start */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.897);
}

.main-nav { margin-top: 20px; }

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    padding: 8px 0;
    color: rgb(143, 131, 131);
}

/* if logo is in sticky, hide. */
.sticky .logo { display: none; }
/* if black logo is in sticky, show */
.sticky .logo-black { display: block; }

/* ------------------------------------------------------------------ */
/* FEATURES */
/* ------------------------------------------------------------------ */

.section-feature .long-copy {
    margin-bottom: 40px;
}

/* ------------------------------------------------------------------ */
/* MEALS */
/* ------------------------------------------------------------------ */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none; /* because we don't want it as bullet points */
    width: 100%; /* we want it to utlize the entire width of the screen responsively */
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background: black;
    overflow: hidden; /* this will make sure that the overflow will not be shown and go out of the defined width*/
}

.meal-photo img {
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.15); /* at this point, the images will overflow from the .meal-photo container*/
    transition: transform 0.5s, opacity 0.5s;
} 

.meal-photo img:hover {
    transform: scale(1.03); /*the .03 is the fix for the padding that appears between the UL */
    opacity: 1;
} 

/* ------------------------------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------------------------------ */

.section-steps {
    background-color: rgb(241, 241, 241);
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3% ;
    margin-top: 70px;

}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: orange;
    border: 2px solid orange;
    display: block; /*to make sure the element doesnt enforce a line break*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

/* ------------------------------------------------------------------ */
/* CITIES */
/* ------------------------------------------------------------------ */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;   
}

/* ------------------------------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------------------------------ */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(/lab/myOmniFood/resources/img/back-customers.jpg);
    background-size: cover;
    color: white;
    /*cool css trick to keep the image in place*/
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    /*before we make an element have an absolute position, the parent element MUST have a relative position*/
    position: absolute;
    top: 2px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------ */
/* PLANS */
/* ------------------------------------------------------------------ */

.section-plans {
    background-color: rgb(241, 241, 241);
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    /*x-axis offset y-axis offset, blur, color ref: https://css-tricks.com/snippets/css/css-box-shadow/*/
    box-shadow: 0 10px 10px -6px rgb(134, 133, 133);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(226, 224, 224);
}

.plan-box:first-child {
    background-color: #fcfcfc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    color: orange;
    font-weight: 100; /*the options given from font header*/
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

/* ------------------------------------------------------------------ */
/* FORM */
/* ------------------------------------------------------------------ */

.section-form {
    background: white;
}

.contact-form {
    /*border: 1px solid black; /*just to show where the form is atm*/
    width: 60%; /*realized we dont need much width of the original*/
    margin: 0 auto; /*again, y and x(will center form inside parent element)*/
}

/*notice element input where type is submit, it is affected. so to fix this, exclude input type submit by explicitly defining wheihc type of input element should be affected*/
input[type=text],
input[type=email],
select,
textarea {
    width: 100%; /*fill 100% of the width of the parent element*/
    padding: 7px; /*looks good*/
    border-radius: 3px;
    border: 1px solid gray; /*eliminates the weird input border*/
    /*to make the submit button look like the other full buttons, it must be included in the button section*/
}

input[type=checkbox]{
    margin: 10px 5px 10px 0; /*centering the text with the elements, not the best way but ill figure it out*/
}

/* ------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------ */

footer {
    background-color: rgb(88, 85, 85);
    padding: 20px;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social li:last-child {
    margin-right: 0;
}

footer p {
    color: black;
    text-align: center;
    margin-top: 10px;
}


.footer-nav {
    list-style: none;
    float: left;
}

.social {
    list-style: none;
    float: right;
}

.social li a:link,
.social li a:visited {
    font-size: 160%;
}

.ion-social-facebook-outline:hover,
.ion-social-facebook-outline:active {
    color: #3b5998
}
.ion-social-twitter-outline:hover,
.ion-social-twitter-outline:active {
    color: #00aced
}
.ion-social-instagram-outline:hover,
.ion-social-instagram-outline:active {
    color: #e95950
}
.ion-social-googleplus-outline,
.ion-social-googleplus-outline {
    color: #dd4b39
}


/** factoring
.footer-nav li,
.social li {
}
**/

footer li a:link,
footer li a:visited {
    text-decoration: none;
    border: 0;
    color: black;
    transition: color .2s;
}

footer li a:hover,
footer li a:active {
    color: rgb(112, 111, 111);
}

